<div class="container">
  <div class="row">
    <div class="col-md-6">
      <gi-datatable items="permissions" 
                 selected-items="selectedPermissions"
                 options="options" >
        <div class="header">
          <label>User</label>
          <label>Resource</label>
          <label>Restriction</label>
        </div>
        <div class="body">
          <label class="filter">permissionUser</label>
          <label class="property">resourceType</label>
          <label class="filter">permissionRestriction</label>
        </div>
      </gi-datatable>
    </div>
    <div class="col-md-6">
      <permission-form permission="permission" submit-text="{{submitText}}" submit="savePermission(permission)"></permission-form>
    </div>
  </div>
</div>