<div class="hero-unit">
  <h3>Please Login</h3>
  <div class="well form-inline">
    <input type="text" ng-model="cred.username" class="input" placeholder="Email">
    <input type="password" ng-model="cred.password" class="input-small" placeholder="Password">
    <button ng-disabled="!cred.username || !cred.password" class="btn btn-primary" 
                ng-click="login()">
          Login
    </button>
  </div>
  <div class="well form loginWithFacebook">
    <button ng-click="loginWithFacebook()"><img src="/img/login-with-facebook.png" width="154" height="22"></button> 
  </div>
</div>
