<div class="well form" role="form">
  <input type="hidden" id="hiddenSiteId" ng-model="role._id"/>
  <div class="form-group">
    <label  >Name:</label>
    <input  type="text" class="form-control" 
            name="name" ng-model="role.name"/>
  </div>
  <button class="btn btn-primary" 
            ng-click="submit({role: role})">
      {{submitText}}
  </button>
  <button ng-show="showDelete" 
          class="btn btn-danger" 
          ng-click="confirmDelete()" >
    <span class="glyphicon glyphicon-trash white"></span>
  </button>
</div>
<gi-modal visible="showDeleteModal"
        title="Please Confirm Delete Action">
  <div class="body">
    <p>Delete a role - are you sure?</p>
    <p>Please continue only if you are 100% 
      you understand what you're deleting.  
      There is no way to retrieve the data after this point.</p>
  </div>
  <div class="footer">
    <button ng-click="deleteRole()"
            class="btn btn-danger">
      Delete It!
    </button>
  </div>
</gi-modal>