<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: currentView == 'list' }">
          <a ng-click="show('list')">All Roles</a>
        </li>
        <li ng-class="{active: currentView == 'form' }">
          <a ng-click="show('form')">New Role</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div>
        <div ng-show="selectedRole" >
          <div class="col-md-6">
            <h4>Roles</h4>
            <ul class="nav nav-pills nav-stacked" ng-repeat="role in roles" >
              <li ng-class="{active: role.name == selectedRole.name}" >
                <a 
                 ng-click="selectRole(role)">{{role.name}}</a>
              </li>
            </ul>
            <div>
              <h4>Role Members</h4>
              <div ng-repeat="user in roleUsers">{{user.firstName}}</div>
            </div>
          </div>
          <div ng-show="currentView == 'list'" class="col-md-6">
            <h4>Role Details</h4>
            <role-form role="selectedRole" title="Role Details" submit-text="Update Role" submit="saveRole(role)" destroy="deleteRole(role)"></role-form>

          </div>
          <div ng-show="currentView == 'form'" class="col-md-6">
            <role-form role="newRole" title="Role Details" submit-text="Create Role" submit="saveRole(role)"></role-form>
          </div>
        </div>      
        <div ng-hide="selectedRole">
          <div class="col-md-6">
            <h4>Roles</h4>
            No Roles found for this organisation.
            You can create one by entering the details on this page.
          </div>
          <div class="col-md-6">
            <role-form title="New Role" role="newRole" submit-text="Create Role" submit="saveRole(role)"></role-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>